.dig-button{
    margin-top: 20px;
    width: 26px;

    padding: 15px 5px;
    line-height: 24px;
    background: #d43331;
    color: #ffffff;
    text-align: center;
    border-style: none;
    border-radius: 5px;

    animation-name: dig-float;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    z-index: 1;
    cursor: pointer;

    display: inline-block;

    transition-property: background;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.dig-button:hover {
    background: #ffd900;
}

.dig-button-disabled{
    margin-top: 20px;
    width: 26px;

    padding: 15px 5px;
    line-height: 24px;
    background:  #bdbdbd;
    color: #6e6e6e;
    text-align: center;
    border-style: none;
    border-radius: 5px;

    animation-name: dig-float-slow;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    z-index: 1;
    cursor: none;

    display: inline-block;
}

.dig-button-letter{
    font-size: 24px;
    text-transform: lowercase;
}

.dig-cont{
    border: solid  1px #9c9c9c; /*#636363*/
    border-radius: 10px;
    background: #302b2b;/*#ffd2d2;*/
    width: 200px;
    height: 225px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 20px 20px 20px 20px;
    display: inline-block;
}

.ground{
    background: #8d7c72; /*#693a1f;*/
    height: 60px;
    width: 200px;
    float:left;

    position: absolute;
    bottom: 0;
    z-index: 2;
}

.ground-left{
    display: inline-block;
    background: #8d7c72;
    border-style: none;
    border-top-right-radius: 50px;
    height: 85px;
    width: 75px;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.ground-right{
    display: inline-block;
    background: #8d7c72;
    border-style: none;
    border-top-left-radius: 50px;
    height: 85px;
    width: 75px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.home-cont{
    /*position: absolute;
    left: 100px;
    top: 160px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;*/
    padding: 5px;
    overflow: hidden;
}

.inv-filter-cont{

}

.inv-item-cont{

}

.inventory-cont{
    display: inline-block;
    position: absolute;
    margin: 10px 10px 10px 20px;
}

#dig-inv-vert-divider{
    display: inline-block;
    width: 1px;
    background: #e1e1e1;
    /*position: absolute;*/
    height: 280px;
}