<div class="home-cont">
    <div class="dig-cont">
        <div class="dig-img">
            <div class="dig-button">
                <span class="dig-button-letter">D</span><br/><span class="dig-button-letter">I</span><br/><span class="dig-button-letter">G</span>
            </div>
            <div class="ground-left"></div>
            <div class="ground-right"></div>
            <div class="ground"></div>
        </div>

        <div class="dig-timer">
            <div class="digs-avail">
                <span class="digs-avail-text"></span>
            </div>
            <div class="dig-time-left">
                <span class="dig-time-left-text"></span>
            </div>
        </div>
    </div>

    <div id="dig-inv-vert-divider"></div>

    <div class="inventory-cont">
        <div class="inv-filter-cont">
            <input type="text" class="standard-search" placeholder="Search..."/>
            <select class="standard-select">
                <option value="" selected></option>y
                <option>R</option>
                <option>SSS</option>
                <option>S</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <select class="standard-select">
                <option value="" selected></option>
                <option>Rank</option>
                <option>Name</option>
                <option>Quantity</option>
            </select>
        </div>
        <div class="inv-item-cont">

        </div>
    </div>
</div>