<div class="register-cont">
    <div class="register-box">
        <div class="register-input">
            <input type="text" class="standard-input username-input"/>
            <br>
            <input type="password" class="standard-input password-input"/>
            <br>
            <input type="password" class="standard-input password-input"/>
            <div class="register-wallet-gen">
                <input type="button" class="wallet-gen-init-button"/>
                <span class="wallet-gen-important-text">Please keep a hard copy of your generated wallet information and NEVER share your secret key!</span>
                <br>
                <span class="wallet-gen-important-text">We DO NOT recommend using this wallet as your primary wallet!</span>
            </div>
        </div>
        <div class="register-go">
            <button type="submit" class="register-button">register</button>
        </div>
    </div>
</div>